html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
}
.txt-lt {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.float-rt {
  float: right;
}
.float-lt {
  float: left;
}
.clear {
  clear: both;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.vertical-base {
  vertical-align: baseline;
}
.vertical-top {
  vertical-align: top;
}
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}
nav.vertical ul li {
  display: block;
}
nav.horizontal ul li {
  display: inline-block;
}
img {
  max-width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
}
.wrap {
  width: 80%;
  margin: 0 auto;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
}
.header {
  background: #ffffff;
  padding: 2% 0;
}
.logo {
  float: left;
  width: 20.5%;
}
.header-right {
  float: right;
  padding-top: 10px;
  width: 62.5%;
}
/*--menu--*/
#cssmenu {
  float: left;
  color: #000000;
  margin-right: 6.6%;
  padding-top: 5px;
  width: 70.5%;
}
#cssmenu > ul > li {
  display: inline-block;
  z-index: 99;
  position: relative;
}
#cssmenu > ul > li > a {
  color: #000000;
  font-size: 0.85em;
  padding: 24px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  text-transform: uppercase;
}
#cssmenu li.active a,
#cssmenu li a:hover {
  color: #00aeff;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #edf3fc;
  text-align: left;
  position: absolute;
  top: 76px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 75px;
  visibility: visible;
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #EDF3FC transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #323232;
  font-size: 0.85em;
  background-color: #edf3fc;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
#cssmenu ul ul a:hover {
  color: #000000;
}
.search_box {
  float: left;
  background: #f1f3f6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
  width: 19.5%;
}
.search_box img {
  vertical-align: middle;
  margin-right: 10px;
}
.search_box form input[type="text"] {
  border: none;
  outline: none;
  background: none;
  font-size: 0.85em;
  color: #999999;
  width: 87%;
  font-family: 'Open Sans', sans-serif;
  -webkit-apperance: none;
}
.search_box form input[type="submit"] {
  border: none;
  cursor: pointer;
  background: url(../images/search.png) no-repeat 0px -5px;
  position: absolute;
  right: 0;
  width: 31px;
  height: 33px;
  outline: none;
}
/**** Slider *****/
.banner-wrap {
  width: 90%;
  margin: 0 auto;
  position: none;
  padding: 5% 0;
}
.index-banner {
  background: #31333e;
  height: 605px;
}
.wmuSlider {
  position: relative;
  overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article {
  position: relative;
  text-align: center;
}
/* Default Skin */
.wmuSliderPrev,
.wmuSliderNext {
  position: absolute;
  width: 68px;
  height: 58px;
  text-indent: -9999px;
  background: url(../images/img-sprite.png) no-repeat;
  top: 45%;
  z-index: 2;
  cursor: pointer;
}
.wmuSliderPrev {
  background-position: 20px 3px;
  left: -30px;
}
.wmuSliderNext {
  background-position: -46px 3px;
  right: -30px;
}
.span_2_of_3 h1 {
  color: #ffffff;
  font-size: 2.7em;
  text-align: center;
}
.banner {
  text-align: center;
}
.btn a {
  border: none;
  float: left;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 62px;
  display: inline-block;
  font-size: 1.2em;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  background: #00aeff;
}
.btn a:hover {
  background: #00a2ee;
}
.content-top {
  padding: 7% 0 5% 0;
}
.col_1_of_3 {
  display: block;
  float: left;
  margin: 0% 0 0% 5.6%;
  text-align: center;
}
.col_1_of_3:first-child {
  margin-left: 0;
}
.span_1_of_3 p {
  font-size: 0.85em;
  padding: 0.5em 0;
  color: #555555;
  line-height: 1.8em;
}
.span_1_of_3 .btn-link {
  padding-top: 10px;
}
.span_1_of_3 .btn-link a {
  color: #00aeff;
  cursor: pointer;
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.2s ease!important;
  -moz-transition: all 0.2s ease!important;
  -o-transition: all 0.2s ease!important;
  transition: all 0.2s ease!important;
}
.span_1_of_3 .btn-link a:hover {
  color: #333333;
}
.content-bottom {
  background: #e2e7ed;
  padding: 4% 0;
}
.col_1_of_4 {
  display: block;
  float: right;
}
.col_1_of_4:first-child {
  margin-left: 0;
}
.span_1_of_4 {
  width: 25%;
  margin: 0 0 -5px;
}
.text {
  text-align: center;
}
.text h4 {
  padding: 10px 0;
}
.text h4 a {
  color: #00aeff;
  font-size: 1em;
  text-transform: uppercase;
}
.text h4 a:hover {
  color: #333333;
}
.text p {
  color: #999999;
  font-size: 0.85em;
}
.imageOuter {
  width: 350px;
  float: left;
  margin: 0 37px 0 0;
}
span.rollover {
  opacity: 1;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background: url(../images/magnifier.png) center center no-repeat #0A95DD;
  cursor: pointer;
  height: 253px;
  width: 313px;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
span.rollover:hover {
  opacity: .7;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  -webkit-box-shadow: 0px 0px 4px #000000;
  -moz-box-shadow: 0px 0px 4px #000000;
  box-shadow: 0px 0px 4px #000000;
}
h2.head {
  color: #555555;
  font-size: 2em;
  margin-bottom: 20px;
}
.clients {
  padding: 2% 0 4%;
}
.clearout {
  height: 20px;
  clear: both;
}
#flexiselDemo3 {
  display: none;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
  padding-right: 40px;
}
.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 40px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  left: 0px;
  background: url(../images/img-sprite.png) no-repeat -83px 4px;
}
.nbs-flexisel-nav-right {
  right: 0px;
  background: url(../images/img-sprite.png) no-repeat -120px 4px;
}
/*--footer--*/
.footer {
  background: #31333e;
  padding: 4% 0;
}
.footer-left {
  float: left;
}
.footer-nav {
  color: #ffffff;
}
.footer-nav li {
  display: inline-block;
}
.footer-nav li a {
  color: #ffffff;
  font-size: 0.85em;
  margin: 0 15px;
}
.footer-nav li a:hover {
  color: #00aeff;
}
.copy {
  padding-top: 20px;
}
.copy p {
  color: #ffffff;
  font-size: 0.85em;
}
.copy p a {
  color: #00aeff;
}
.copy p a:hover {
  color: #ffffff;
}
.social {
  float: right;
}
.social ul li:first-child,
ol li:first-child {
  margin-top: 0px;
  margin-left: 0;
}
.social li {
  background: none;
  padding: 0px 0 0 5px;
  display: inline-block;
}
li.facebook a span {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -176px -4px;
}
li.facebook a span:hover {
  opacity: 0.8;
}
li.linkedin a span {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -222px -4px;
}
li.linkedin a span:hover {
  opacity: 0.8;
}
li.twitter a span {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -270px -4px;
}
li.twitter a span:hover {
  opacity: 0.8;
}
li.pinterest a span {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -319px -4px;
}
li.pinterest a span:hover {
  opacity: 0.8;
}
li.dribble a span {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -366px -4px;
}
li.dribble a span:hover {
  opacity: 0.8;
}
li.google a span {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -413px -4px;
}
li.google a span:hover {
  opacity: 0.8;
}
li h6 {
  font-size: 12px;
}
.footer-nav li a.margin_null {
  margin-left: 0;
}
.cont {
  display: block;
  float: left;
}
.rsidebar {
  display: block;
  float: left;
  margin: 0 0 0 4.6%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 29.2%;
}
.span_2_of_3 h3,
.span_1_of_3 h3 {
  color: #555555;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: -1px;
}
.span_2_of_3 p {
  color: #999999;
  font-size: 0.85em;
  line-height: 1.8em;
  margin: 20px 0;
}
@media (max-width: 1366px) {
  .wrap {
    width: 85%;
  }
  .span_2_of_3 h1 {
    font-size: 2.5em;
  }
  span.rollover {
    height: 240px;
    width: 297px;
  }
  .header-right {
    width: 70%;
  }
  #cssmenu > ul > li:hover > ul {
    top: 70px;
  }
  .index-banner {
    height: 566px;
  }
}
@media (max-width: 1280px) {
  .wrap {
    width: 80%;
  }
  .span_2_of_3 h1 {
    font-size: 2.4em;
  }
  .header-right {
    width: 77%;
  }
  span.rollover {
    height: 226px;
    width: 280px;
  }
  .index-banner {
    height: 555px;
  }
}
@media (max-width: 1024px) {
  .wrap {
    width: 80%;
  }
  .span_2_of_3 h1 {
    font-size: 1.9em;
  }
  .header-right {
    width: 79.5%;
  }
  #cssmenu {
    margin-right: 2.6%;
  }
  #cssmenu > ul > li > a {
    padding: 0px 10px;
  }
  .btn a {
    padding: 15px 49px;
  }
  .index-banner {
    height: 524px;
  }
  span.rollover {
    height: 185px;
    width: 225px;
  }
  .grid_1 {
    width: 9.5%;
  }
  ul.comment-list .desc {
    width: 89%;
  }
  #cssmenu > ul > li:hover > ul {
    top: 60px;
  }
}
@media (max-width: 800px) {
  .wrap {
    width: 80%;
  }
  .span_2_of_3 h1 {
    font-size: 1.5em;
  }
  .header-right {
    width: 78%;
    padding-top: 4px;
  }
  #cssmenu {
    margin-right: 2.6%;
    width: 78.5%;
  }
  #cssmenu > ul > li > a {
    padding: 0px 5px;
  }
  .btn a {
    padding: 12px 26px;
  }
  .index-banner {
    height: 422px;
  }
  span.rollover {
    height: 148px;
    width: 179px;
  }
  .grid_1 {
    width: 9.5%;
  }
  .search_box {
    width: 14.5%;
  }
  .footer-nav li a {
    margin: 0 4px;
  }
  ul.comment-list .desc {
    width: 88%;
  }
  .contact-form input[type="submit"] {
    padding: 13px 60px;
  }
  #cssmenu > ul > li:hover > ul {
    top: 50px;
  }
}
@media (max-width: 768px) {
  .wrap {
    width: 80%;
  }
  .span_2_of_3 h1 {
    font-size: 1.4em;
  }
  .header-right {
    width: 75.5%;
    padding-top: 3px;
  }
  #cssmenu {
    margin-right: 2.6%;
  }
  #cssmenu > ul > li > a {
    padding: 0px 5px;
  }
  .btn a {
    padding: 12px 24px;
  }
  .index-banner {
    height: 405px;
  }
  span.rollover {
    height: 140px;
    width: 172px;
  }
  .grid_1 {
    width: 9.5%;
  }
  .search_box {
    width: 14.5%;
  }
  .footer-nav li a {
    margin: 0 2px;
  }
  ul.comment-list .desc {
    width: 88%;
  }
  .contact-form input[type="submit"] {
    padding: 13px 60px;
  }
}
@media (max-width: 640px) {
  .wrap {
    width: 80%;
  }
  .span_2_of_3 h1 {
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  .header-right {
    width: 100%;
    float: none;
  }
  #cssmenu {
    margin-right: 2.6%;
  }
  #cssmenu > ul > li > a {
    padding: 0px 5px;
  }
  .btn a {
    padding: 12px 24px;
  }
  .index-banner {
    height: 398px;
  }
  span.rollover {
    height: 290px;
    width: 360px;
  }
  .grid_1 {
    width: 9.5%;
  }
  .search_box {
    width: 14.5%;
  }
  .footer-nav li a {
    margin: 0 2px;
  }
  ul.comment-list .desc {
    width: 88%;
  }
  .contact-form input[type="submit"] {
    padding: 13px 60px;
  }
  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }
  .span_1_of_3 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .footer-left {
    float: none;
  }
  .social {
    float: none;
    padding-top: 20px;
  }
  .footer {
    text-align: center;
  }
  .col_1_of_3 {
    margin: 0;
  }
  .rsidebar {
    float: none;
    margin: 0;
  }
  .span_2_of_about {
    width: 100%;
  }
  .span_1_of_about {
    width: 100%;
  }
  .lsidebar {
    float: none;
    margin: 0;
  }
  ul.about-list li {
    margin: 0 0px 20px 30px;
  }
  .col_1_of_2 {
    float: none;
    margin: 0;
  }
  .span_1_of_2 {
    width: 100%;
  }
  #cssmenu > ul > li:hover > ul {
    top: 40px;
  }
}
@media (max-width: 480px) {
  .wrap {
    width: 80%;
  }
  .span_2_of_3 h1 {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .header-right {
    width: 100%;
    float: none;
  }
  #cssmenu {
    margin-right: 0;
    float: none;
    width: 100%;
  }
  #cssmenu > ul > li > a {
    padding: 0px 5px;
  }
  .btn a {
    padding: 8px 20px;
  }
  .index-banner {
    height: 315px;
  }
  span.rollover {
    height: 290px;
    width: 360px;
  }
  .grid_1 {
    width: 12.5%;
  }
  .search_box {
    width: 90%;
    float: none;
    margin-top: 20px;
  }
  .footer-nav li a {
    margin: 0 2px;
  }
  ul.comment-list .desc {
    width: 85%;
  }
  .contact-form input[type="submit"] {
    padding: 13px 60px;
  }
  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }
  .span_1_of_3 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .footer-left {
    float: none;
  }
  .social {
    float: none;
    padding-top: 20px;
  }
  .footer {
    text-align: center;
  }
  .col_1_of_3 {
    margin: 0;
  }
  .rsidebar {
    float: none;
    margin: 0;
  }
  .span_2_of_about {
    width: 100%;
  }
  .span_1_of_about {
    width: 100%;
  }
  .lsidebar {
    float: none;
    margin: 0;
  }
  ul.about-list li {
    margin: 0 0px 20px 30px;
  }
  .col_1_of_2 {
    float: none;
    margin: 0;
  }
  .span_1_of_2 {
    width: 100%;
  }
  #cssmenu > ul > li:hover > ul {
    top: 40px;
  }
}
