
 .datatable { 
    width: 100%; 
    border-collapse: collapse; 
    background-color: rgba(245, 245, 220, 0.4);
    font-weight: bold;
   }
   .createtable{
       width: fit-content;
       border-collapse: collapse;
       background-color: rgba(245, 245, 220, 0.4);
    font-weight: bold;
       border: none !important; 
   }
   .createtable_td{
       border: none;
       text-align: left;
       background-color: rgba(245, 245, 220, 0.4);
    font-weight: bold;
       width: max-content;
   }
   th { 
    text-align: center; 
    padding: 5px 5px 5px 5px;     
    border: 1px solid black; 
   }
   td { 
    padding: 5px 5px 5px 5px; 
    
    border: 1px solid black; 
   }
   .delref {
       color: red;
       cursor: pointer;
   }
   .editref{
       color: black;
       cursor: pointer;
   }
   .classpicker{      
       padding: 10px 0px 20px 0px;
       cursor: pointer;
       width: fit-content;
       background-color: rgba(245, 245, 220, 0.4);
       font-weight: bold;
   }
   .pickertable{   
       background-color: rgba(245, 245, 220, 0.4);
       font-weight: bold;
       height: 40px;
       width: fit-content;
       border-collapse: collapse;
       cursor: pointer;
   }
   .pressedpicker{            
       height: 40px;
       width: fit-content;
       border-collapse: collapse;
       background: lightgrey;
       cursor: pointer;
   }
  .createbutton{
       border: 1 px solid;
       border-radius: 5px; 
       width: fit-content;
       padding: 5px 30px 5px 30px;
       margin-top: 10px;
       margin-bottom: 40px;
       background: lightblue;
   }
   .clearbutton{
       border: 1 px solid;
       border-radius: 5px; 
       width: fit-content;
       padding: 5px 30px 5px 30px;
       margin-top: 10px;
       margin-bottom: 40px;
       background: white;
   }
.noselect {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
            background-image: url("1.jpeg");
            background-size: cover;
}
.msgstab{
    border: none;
    width: fit-content;
    user-select: none;
}
